<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4 text-primary">ToDo App</h1>
        <nav class="navbar">
            <form class="form-inline ml-auto w-25">
                <input id="search" class="form-control mr-sm-2 d-block w-100" type="search" placeholder="Search here.."
                    aria-label="Search">
            </form>
        </nav>
        <!-- <p class="lead my-1 text-dark">Enter your todo tasks....</p> -->
        <form class="my-3" id="formSubmit">
            <div class="form-group">
                <!-- <label for="userInput">Add New Task</label> -->
                <input type="text" class="form-control" id="userInput" aria-describedby="emailHelp"
                    placeholder="Enter task Name...">
            </div>
            <button type="submit" class="btn btn-dark w-25 mb-3 ">Add</button>
            <!-- <div id="alert" class="alert alert-danger text-center text-dark py-1">
                Please fill the name name! 
            </div> -->
        </form>
        <ul class="list-group text-primary" id="uList">
            <li class="list-group-item  text-dark  list-group-item-success"> The Outsider </li>
            <li class="list-group-item  text-dark list-group-item-success">Educated </li>
            <li class="list-group-item  text-dark list-group-item-success"> The Woman in the Window </li>
            <li class="list-group-item  text-dark list-group-item-success"> Becoming </li>
            <li class="list-group-item  text-dark list-group-item-success">An American Marriage </li>
            <li class="list-group-item  text-dark list-group-item-success">The Wife Between Us </li>
            <li class="list-group-item  text-dark list-group-item-success">Still Me </li>
            <li class="list-group-item  text-dark list-group-item-success">Nine Perfect Strangers </li>
            <li class="list-group-item  text-dark list-group-item-success last">The Tattooist of Auschwitz </li>
        </ul>
    </div>
</div>
