<div class="w-25">
    <div>
        <div class="list-group" *ngIf="!collapse">
            <a href="javascript:void(0);" (click)="collapse = true" class="list-group-item list-group-item-action list-group-item-info">Story test one</a>
        </div>
        <section *ngIf="collapse">
            <div class="row no-gutters py-1 bg-info align-items-center text-light text-center">
                <div class="col "><span (click)="collapse=false">^</span></div>
                <div class="col-10">
                    <input type="text" value="Story test one" name="title" id="titlt" class="form-control border border-dark">
                </div>
                <div class="col">%</div>
            </div>
        </section>
    </div>
</div>