.starter-home {
    // background-image: linear-gradient(rgba(0, 0, 0, 0.6),
    // rgba(0, 0, 0, 0.6)), url('../../../assets/img/business\ bg.jpg');
    background-color: #444444; 
    min-height: 100vh;
     background-position: center; background-repeat: no-repeat;
     background-size: cover;
}