<div class="d-flex" id="wrapper">

  <app-project-tracker-sidebar [showcasePanel]="showcasePanel"></app-project-tracker-sidebar>

  <div id="page-content-wrapper">
    <div class="row no-gutters">
      <section class="col border border-dark" *ngIf="showcasePanel.showMyWork">
        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="#">My work</a>
          <a class="navbar-brand ml-auto" href="javascript:void(0)"
            (click)="showcasePanel.showMyWork = !showcasePanel.showMyWork">X</a>
        </nav>
        <div *ngIf="projects && projects.stories && projects.stories.stories">
          <app-project-tracker-story-list [stories]="projects.stories.stories"></app-project-tracker-story-list>
        </div>
      </section>
      <section class="col border border-dark" *ngIf="showcasePanel.showCurrentOrBacklog">
        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="#">Current/Backlog</a>
          <a href="javascript:void(0)" class="navbar-brand ml-auto"
            (click)="showcasePanel.showCurrentOrBacklog = !showcasePanel.showCurrentOrBacklog">X</a>
        </nav>
        <div *ngIf="currentBacklog">
          <app-project-tracker-story-list [stories]="currentBacklog"></app-project-tracker-story-list>
        </div>
      </section>
      <section class="col border border-dark" *ngIf="showcasePanel.showIcebox">
        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="#">Icebox</a>
          <a class="navbar-brand ml-auto" (click)="showcasePanel.showIcebox = !showcasePanel.showIcebox"
            href="javascript:void(0)">X</a>
        </nav>
        <div *ngIf="icebox">
          <app-project-tracker-story-list [stories]="icebox"></app-project-tracker-story-list>
        </div>
      </section>

    </div>
  </div>
</div>