<div class="container">
    <div class="row">
        <div class="col-8">
            <input class="form-control form-control-sm" type="text" placeholder="Search projects">
        </div>
        <div class="col-4">
            <select class="form-control form-control-sm">
                <option>Active projects</option>
                <option>Archived projects</option>
            </select>
        </div>
    </div>
    <section class="pt-5">
        <div>
            My projects | {{projects ? projects.length: 0}}
        </div>
        <div class="mt-5">
            <div class="row">
                <div class="col-sm-6" *ngFor="let project of projects">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{project.name}}</h5>
                            <p class="card-text">{{project.Description}}
                            </p>
                            <a href="javascript:void(0)" class="btn btn-dark" (click)="viewProject(project.id)">View
                                Project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>