<div>
    <div class="py-2" role="alert">
        <div class="container">
            <div class="d-flex align-items-center">
                <span class="d-inline-block text-light bg-dark px-2">Projects</span>
                <span class="d-inline-block text-dark ml-3 px-2">Workspaces</span>
                <div class="ml-auto">
                    <button class="btn btn-dark align-self-baseline">Create Project</button>
                </div>
            </div>
        </div>
    </div>
    <section class="">
        <router-outlet></router-outlet>
    </section>
</div>