    <nav class="navbar-expand-lg navbar fixed-top navbar-dark bg-dark border-left border-right border-bottom" style="min-height: 60px; max-height: 60px;">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <button routerLink="/app/sign-up" type="button" class="btn btn-dark">Whats New!</button>
                </li>
                <li class="nav-item active">
                    <button routerLink="/app/sign-up" type="button" class="btn btn-dark">Help</button>
                </li>
                <li class="nav-item active">
                    <button routerLink="/app/sign-up" type="button" class="btn btn-light">User</button>
                </li>
            </ul>
        </div>
    </nav>
