<div class="jumbotron m-0"  style="min-height: 100vh;">
    <div class="container">
        <div class="card cursor" (click)="viewProject()">
            <div class="card-body">
                <h4 class="card-title">Project Tracker</h4>
                <h6 class="card-subtitle mb-2 text-muted">Tracking project statastics</h6>
                <p class="card-text">
                    Some quick example text to build on the card title
                    and make up the bulk of the card's content.
                </p>
            </div>
        </div>
        <div *ngIf="showTimeTracker">
            <div class="card cursor mt-5" (click)="viewProject()">
                <div class="card-body">
                    <h4 class="card-title">Time Tracker</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Time Tracking project statastics</h6>
                    <p class="card-text">
                        Some quick example text to build on the card title
                        and make up the bulk of the card's content.
                    </p>
                </div>
            </div>
        </div>
        <div>
            <div class="card cursor mt-5" (click)="viewTodoApp()">
                <div class="card-body">
                    <h4 class="card-title">TODO APP</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Just to Keep simple todo application</h6>
                    <p class="card-text">
                        Some quick example text to build on the card title
                        and make up the bulk of the card's content.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>